@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        sfgsdfg

        <a href="/About/Index">Hakkımızda</a>

        <a href="/Contact/Index">İLETİŞİM</a>

    </div>
</body>
</html>
